<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <!--~~~~~~~~~~~~~~~~~TEST FILE~~~~~~~~~~~~~~~~~-->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  
  <!--Used for completing game string parsing by providing a default value-->
  <ParserHelper>
    <Id name="AttributeFactor[Heroic]" part="last" value="0" />
    <Id name="AttributeFactor[Structure]" part="last" value="0" />
    <Id name="ModifyFraction" part="last" value="1" />
    <Id name="Ratio" part="last" value="1" />
    <Id name="Count" part="last" value="1" />
    <Id name="MaxStackCount" part="last" value="1" />
    <Id name="SpawnCount" part="last" value="1" />
    <Id name="Scale" part="last" value="1" />
    <Id name="Period" part="last" value="1" />
    <Id name="CooldownTimeUse" part="last" value="1" />
    <Id name="Modifier" part="last" value="0" />
    <Id name="ExpireDelay" part="last" value="0" />
  </ParserHelper>

  <!--Gamestring parsing lookup for the correct element based on the type-->
  <XmlElementLookup>
    <Type name="Behavior">
      <Element>CBehaviorBuff</Element>
      <Element>CBehaviorTokenCounter</Element>
      <Element>CBehaviorUnitTracker</Element>
    </Type>
    <Type name="Abil">
      <Element>CAbilAugment</Element>
      <Element>CAbilAttack</Element>
      <Element>CAbilBehavior</Element>
      <Element>CAbilEffectInstant</Element>
      <Element>CAbilEffectTarget</Element>
      <Element>CAbilMorph</Element>
      <Element>CAbilMove</Element>
      <Element>CAbilStop</Element>
    </Type>
    <Type name="Effect">
      <Element>CEffectApplyBehavior</Element>
      <Element>CEffectApplyForce</Element>
      <Element>CEffectCreateHealer</Element>
      <Element>CEffectCreatePersistent</Element>
      <Element>CEffectCreateUnit</Element>
      <Element>CEffectDamage</Element>
      <Element>CEffectDestroyPersistent</Element>
      <Element>CEffectEnumArea</Element>
      <Element>CEffectEnumMagazine</Element>
      <Element>CEffectEnumTransport</Element>
      <Element>CEffectIssueOrder</Element>
      <Element>CEffectLaunchMissile</Element>
      <Element>CEffectModifyBehaviorBuffDuration</Element>
      <Element>CEffectModifyCatalogNumeric</Element>
      <Element>CEffectModifyPlayer</Element>
      <Element>CEffectModifyTokenCount</Element>
      <Element>CEffectModifyUnit</Element>
      <Element>CEffectReleaseMagazine</Element>
      <Element>CEffectRemoveBehavior</Element>
      <Element>CEffectSet</Element>
      <Element>CEffectSwitch</Element>
      <Element>CEffectTeleport</Element>
      <Element>CEffectTransferBehavior</Element>
      <Element>CEffectUseCalldown</Element>
      <Element>CEffectUseMagazine</Element>
    </Type>
    <Type name="RequirementNode">
      <Element>CRequirementAllowUnit</Element>
      <Element>CRequirementAnd</Element>
      <Element>CRequirementCountBehavior</Element>
      <Element>CRequirementCountUnit</Element>
      <Element>CRequirementCountUpgrade</Element>
      <Element>CRequirementEq</Element>
      <Element>CRequirementGT</Element>
      <Element>CRequirementLT</Element>
      <Element>CRequirementNot</Element>
      <Element>CRequirementOr</Element>
    </Type>
    <Type name="Unit">
      <Element>CUnit</Element>
    </Type>
    <Type name="Talent">
      <Element>CTalent</Element>
    </Type>
    <Type name="Validator">
      <Element>CValidatorUnitCompareVital</Element>
      <Element>CValidatorLocationEnumArea</Element>
      <Element>CValidatorUnitCompareTokenCount</Element>
      <Element>CValidatorCompareTrackedUnitsCount</Element>
      <Element>CValidatorUnitCompareDamageTakenTime</Element>
      <Element>CValidatorUnitCompareBehaviorCount</Element>
      <Element>CValidatorUnitCompareBehaviorDuration</Element>
      <Element>CValidatorLocationCompareRange</Element>
    </Type>
    <Type name="Accumulator">
      <Element>CAccumulatorToken</Element>
      <Element>CAccumulatorVitals</Element>
      <Element>CAccumulatorTimed</Element>
      <Element>CAccumulatorDistanceUnitTraveled</Element>
      <Element>CAccumulatorDistance</Element>
      <Element>CAccumulatorTrackedUnitCount</Element>
    </Type>
    <Type name="Weapon">
      <Element>CWeaponLegacy</Element>
    </Type>
    <Type name="Actor">
      <Element>CActorQuad</Element>
      <Element>CActorRange</Element>
    </Type>
    <Type name="Armor">
      <Element>CArmor</Element>
    </Type>
  </XmlElementLookup>

  <!--Adds additional elements when retrieving elements for parsing-->
  <DataParser>
    <CUnit id="VolskayaVehicleGunner" />
    <CUnit id="VolskayaVehicleGunner" />
    <CUnit id="Chromie" />
    <CUnit id="Tower" />
    <CHero id="Tree" />
    <CHero id="PlasmaRifle" value="true" />
    <CHero id="Infernos" value="" />
    <CHero id="Infernos2" value="false" />
    <CHero id="Infernos3" value="false" />
  </DataParser>
  
  <!--Extra abilities to ignore when parsing abilities for unit data-->
  <UnitDataExtraAbilities>
    <Id>LockedHeroicAbility</Id>
    <Id>stop</Id>
    <Id>move</Id>
    <Id>MoveHoldPosition</Id>
    <Id>Attack</Id>
    <Id>MovePatrol</Id>
    <Id>Queue5Storm</Id>
    <Id>Que1Passive</Id>
  </UnitDataExtraAbilities>
</Configuration>