<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <!--Adds/removes additional elements when retrieving elements for data parsing-->
  <DataParser>
    <CAnnouncerPack id="RandomAnnouncerPack" value="false" />
    <CAnnouncerPack id="Default" value="false" />
    <CAnnouncerPack id="Quality" value="false" />
    <CAnnouncerPack id="Cook" value="false" />
    <CAnnouncerPack id="GardensNightAnnouncer" value="false" />
    <CBanner id="RandomBanner" value="false" />
    <CBanner id="NeutralMercCamp" value="false" />
    <CMount id="Random" value="false" />
    <CPortraitPack id="TestPortrait" value="false" />
    <CSkin id="Random" value="false" />
    <CSpray id="RandomSpray" value="false" />
    <CVoiceLine id="RandomVoiceLine" value="false" />
    
    <!--maps-->
  </DataParser>
  
  <!--Used for completing gamestring parsing by providing a default value-->
  <ParserHelper>
    <Id name="AttributeFactor[Heroic]" part="last" value="0" />
    <Id name="AttributeFactor[Structure]" part="last" value="0" />
    <Id name="CooldownTimeUse" part="last" value="1" />
    <Id name="Count" part="last" value="1" />
    <Id name="ExpireDelay" part="last" value="0" />
    <Id name="MaxStackCount" part="last" value="1" />
    <Id name="Modifier" part="last" value="0" />
    <Id name="ModifyFraction" part="last" value="1" />
    <Id name="Period" part="last" value="1" />    
    <Id name="Ratio" part="last" value="1" />
    <Id name="Scale" part="last" value="1" />
    <Id name="SpawnCount" part="last" value="1" />
  </ParserHelper>

  <!--Gamestring parsing lookup for the correct element based on the type-->
  <XmlElementLookup>
    <Type name="Abil">
      <Element>CAbilAugment</Element>
      <Element>CAbilBehavior</Element>
      <Element>CAbilEffectInstant</Element>
      <Element>CAbilEffectTarget</Element>
      <Element>CAbilMorph</Element>
    </Type>
    <Type name="Accumulator">
      <Element>CAccumulatorDistance</Element>
      <Element>CAccumulatorDistanceUnitTraveled</Element>
      <Element>CAccumulatorTimed</Element>
      <Element>CAccumulatorToken</Element>
      <Element>CAccumulatorTrackedUnitCount</Element>
      <Element>CAccumulatorVitals</Element>
    </Type>
    <Type name="Actor">
      <Element>CActorRange</Element>
      <Element>CActorQuad</Element>
    </Type>
    <Type name="Armor">
      <Element>CArmor</Element>
    </Type>
    <Type name="Behavior">
      <Element>CBehaviorBuff</Element>
      <Element>CBehaviorTokenCounter</Element>
      <Element>CBehaviorUnitTracker</Element>
    </Type>
    <Type name="Effect">
      <Element>CEffectApplyBehavior</Element>
      <Element>CEffectApplyForce</Element>
      <Element>CEffectCreateHealer</Element>
      <Element>CEffectCreatePersistent</Element>
      <Element>CEffectCreateUnit</Element>
      <Element>CEffectDamage</Element>
      <Element>CEffectDestroyPersistent</Element>
      <Element>CEffectEnumArea</Element>
      <Element>CEffectEnumMagazine</Element>
      <Element>CEffectEnumTransport</Element>
      <Element>CEffectIssueOrder</Element>
      <Element>CEffectLaunchMissile</Element>
      <Element>CEffectModifyBehaviorBuffDuration</Element>
      <Element>CEffectModifyCatalogNumeric</Element>
      <Element>CEffectModifyPlayer</Element>
      <Element>CEffectModifyTokenCount</Element>
      <Element>CEffectModifyUnit</Element>
      <Element>CEffectReleaseMagazine</Element>
      <Element>CEffectRemoveBehavior</Element>
      <Element>CEffectSet</Element>
      <Element>CEffectSwitch</Element>
      <Element>CEffectTeleport</Element>
      <Element>CEffectTransferBehavior</Element>
      <Element>CEffectUseCalldown</Element>
      <Element>CEffectUseMagazine</Element>
    </Type>
    <Type name="Hero">
      <Element>CHero</Element>
    </Type>
    <Type name="Talent">
      <Element>CTalent</Element>
    </Type>
    <Type name="Unit">
      <Element>CUnit</Element>
    </Type>
    <Type name="Upgrade">
      <Element>CUpgrade</Element>
    </Type>
    <Type name="Validator">
      <Element>CValidatorCompareTrackedUnitsCount</Element>
      <Element>CValidatorLocationEnumArea</Element>
      <Element>CValidatorLocationCompareRange</Element>
      <Element>CValidatorUnitCompareBehaviorCount</Element>
      <Element>CValidatorUnitCompareBehaviorDuration</Element>
      <Element>CValidatorUnitCompareDamageTakenTime</Element>
      <Element>CValidatorUnitCompareTokenCount</Element>
      <Element>CValidatorUnitCompareVital</Element>
    </Type>
    <Type name="Weapon">
      <Element>CWeaponLegacy</Element>
      <Element>CWeaponStrafe</Element>
    </Type>
  </XmlElementLookup>
</Configuration>