<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <!--Adds/removes additional elements when retrieving elements for data parsing-->
  <DataParser>
    <CAnnouncerPack id="RandomAnnouncerPack" value="false" />
    <CAnnouncerPack id="Default" value="false" />
    <CAnnouncerPack id="Quality" value="false" />
    <CAnnouncerPack id="Cook" value="false" />
    <CAnnouncerPack id="GardensNightAnnouncer" value="false" />
    <CBanner id="RandomBanner" value="false" />
    <CBanner id="NeutralMercCamp" value="false" />
    <CMount id="Random" value="false" />
    <CPortraitPack id="TestPortrait" value="false" />
    <CRewardPortrait id="_PORTRAITPLACEHOLDER" value="false" />
    <CRewardPortrait id="PortraitOverlayPlayerLevel" value="false" />
    <CRewardPortrait id="PortraitOverlayStormLeagueLevel" value="false" />
    <CSkin id="Random" value="false" />
    <CSpray id="RandomSpray" value="false" />
    <CVoiceLine id="RandomVoiceLine" value="false" />

    <CUnit id="VolskayaVehicle,volskayadata.stormmod" value="true" />
  </DataParser>
  
  <!--Used for completing gamestring parsing by providing a default value-->
  <ParserHelper>
    <Id name="AttributeFactor[Heroic]" part="last" value="0" />
    <Id name="AttributeFactor[Structure]" part="last" value="0" />
    <Id name="AttributeFactor[Minion]" part="last" value="0" />
    <Id name="CooldownTimeUse" part="last" value="1" />
    <Id name="Count" part="last" value="1" />
    <Id name="ExpireDelay" part="last" value="0" />
    <Id name="MaxStackCount" part="last" value="1" />
    <Id name="Modifier" part="last" value="0" />
    <Id name="ModifyFraction" part="last" value="1" />
    <Id name="Period" part="last" value="1" />    
    <Id name="Ratio" part="last" value="1" />
    <Id name="Scale" part="last" value="1" />
    <Id name="SpawnCount" part="last" value="1" />
  </ParserHelper>

  <!--Gamestring parsing lookup for the correct element based on the type-->
  <XmlElementLookup>
    <Type name="Abil">
      <Element>CAbilAugment</Element>
      <Element>CAbilAttack</Element>
      <Element>CAbilBehavior</Element>
      <Element>CAbilEffectInstant</Element>
      <Element>CAbilEffectTarget</Element>
      <Element>CAbilMorph</Element>
      <Element>CAbilMove</Element>
      <Element>CAbilStop</Element>
    </Type>
    <Type name="Accumulator">
      <Element>CAccumulator</Element>
      <Element>CAccumulatorDistance</Element>
      <Element>CAccumulatorDistanceUnitTraveled</Element>
      <Element>CAccumulatorTimed</Element>
      <Element>CAccumulatorToken</Element>
      <Element>CAccumulatorTrackedUnitCount</Element>
      <Element>CAccumulatorVitals</Element>
    </Type>
    <Type name="Actor">
      <Element>CActorRange</Element>
      <Element>CActorQuad</Element>
    </Type>
    <Type name="Armor">
      <Element>CArmor</Element>
    </Type>
    <Type name="Behavior">
      <Element>CBehaviorBuff</Element>
      <Element>CBehaviorTokenCounter</Element>
      <Element>CBehaviorUnitTracker</Element>
    </Type>
    <Type name="Effect">
      <Element>CEffectApplyBehavior</Element>
      <Element>CEffectApplyForce</Element>
      <Element>CEffectCreateHealer</Element>
      <Element>CEffectCreatePersistent</Element>
      <Element>CEffectCreateUnit</Element>
      <Element>CEffectDamage</Element>
      <Element>CEffectDestroyPersistent</Element>
      <Element>CEffectEnumArea</Element>
      <Element>CEffectEnumMagazine</Element>
      <Element>CEffectEnumTransport</Element>
      <Element>CEffectIssueOrder</Element>
      <Element>CEffectLaunchMissile</Element>
      <Element>CEffectModifyBehaviorBuffDuration</Element>
      <Element>CEffectModifyCatalogNumeric</Element>
      <Element>CEffectModifyPlayer</Element>
      <Element>CEffectModifyTokenCount</Element>
      <Element>CEffectModifyUnit</Element>
      <Element>CEffectReleaseMagazine</Element>
      <Element>CEffectRemoveBehavior</Element>
      <Element>CEffectSet</Element>
      <Element>CEffectSwitch</Element>
      <Element>CEffectTeleport</Element>
      <Element>CEffectTransferBehavior</Element>
      <Element>CEffectUseCalldown</Element>
      <Element>CEffectUseMagazine</Element>
    </Type>
    <Type name="Hero">
      <Element>CHero</Element>
    </Type>
    <Type name="RequirementNode">
      <Element>CRequirementAllowUnit</Element>
      <Element>CRequirementAnd</Element>
      <Element>CRequirementCountBehavior</Element>
      <Element>CRequirementCountUnit</Element>
      <Element>CRequirementCountUpgrade</Element>
      <Element>CRequirementEq</Element>
      <Element>CRequirementGT</Element>
      <Element>CRequirementGTE</Element>
      <Element>CRequirementLT</Element>
      <Element>CRequirementNot</Element>
      <Element>CRequirementOr</Element>
    </Type>
    <Type name="Talent">
      <Element>CTalent</Element>
    </Type>
    <Type name="Unit">
      <Element>CUnit</Element>
    </Type>
    <Type name="Upgrade">
      <Element>CUpgrade</Element>
    </Type>
    <Type name="Validator">
      <Element>CValidatorCompareTrackedUnitsCount</Element>
      <Element>CValidatorLocationEnumArea</Element>
      <Element>CValidatorLocationCompareRange</Element>
      <Element>CValidatorUnitCompareBehaviorCount</Element>
      <Element>CValidatorUnitCompareBehaviorDuration</Element>
      <Element>CValidatorUnitCompareDamageTakenTime</Element>
      <Element>CValidatorUnitCompareTokenCount</Element>
      <Element>CValidatorUnitCompareVital</Element>
      <Element>CValidatorUnitCompareVitality</Element>
    </Type>
    <Type name="Weapon">
      <Element>CWeaponLegacy</Element>
      <Element>CWeaponStrafe</Element>
    </Type>
  </XmlElementLookup>

  <!--Extra abilities to ignore when parsing abilities for unit data-->
  <UnitDataExtraAbilities>
    <Id>LockedHeroicAbility</Id>
    <Id>stop</Id>
    <Id>move</Id>
    <Id>MoveHoldPosition</Id>
    <Id>Attack</Id>
    <Id>MovePatrol</Id>
    <Id>Queue5Storm</Id>
    <Id>Que1Passive</Id>
  </UnitDataExtraAbilities>

  <!--Image files that do not exist-->
  <NonExistingImageFileNames>
    <File>wireframe-zerg-roach.dds</File>
    <File>hud_icon_teammapmechanic_tribute.dds</File>
    <File>storm_ui_minimapicon_gardenseed_bw.dds</File>
    <File>hud_icon_teammapmechanic_skull.dds</File>
    <File>wireframe-critter-ursadakfemale.dds</File>
    <File>wireframe-general-circleofpower-terran.dds</File>
    <File>wireframe-general-destructiblerocks-6x6.dds</File>
    <File>wireframe-critter-dog.dds</File>
    <File>wireframe-zerg-baneling.dds</File>
    
    <!--This are missing???-->    
    <File>storm_ui_bundles_h44_lunarfestival2019bundle.dds</File>
    <File>storm_ui_bundle_h53_blizzconlinetracerbundle.dds</File>
    <File>storm_ui_bundles_rarelootchest_boostpromolegendarychestpack.dds</File>
    <File>storm_ui_bundles_rarelootchest_craftwars2020lootchest1pack.dds</File>
    <File>storm_ui_bundles_h44_cyberonibutcherskinpack.dds</File>
    <File>storm_ui_bundles_h44_cyberoniwarboarbundle.dds</File>
    <File>storm_ui_bundles_rarelootchest_darknexus2020lootchest1pack.dds</File>
    <File>storm_ui_bundles_rarelootchest_lootchest1packgold.dds</File>
    <File>storm_ui_bundles_h44_lunarfestivalmountbundle.dds</File>
    <File>storm_ui_bundles_rarelootchest_mobster2019legendarylootchest1pack.dds</File>
    <File>storm_ui_bundles_rarelootchest_mobster2019lootchest1pack.dds</File>
    <File>storm_ui_bundles_rarelootchest_nexomania2020lootchest1pack.dds</File>
    <File>storm_ui_bundles_h44_speeddemonlucioskinpack.dds</File>
    <File>storm_ui_bundles_lootchest_spring2019lootchest1pack.dds</File>
    <File>storm_ui_bundles_h44_streetcyborgkharazimskinpack.dds</File>
    <File>storm_ui_bundles_rarelootchest_spring2019lootchest1pack.dds</File>
    <File>storm_ui_bundles_rarelootchest_summer2019lootchest1pack.dds</File>
    <File>storm_ui_bundles_rarelootchest_summerlootchest12pack.dds</File>
    <File>storm_ui_bundles_rarelootchest_summerlootchest1pack.dds</File>
    <File>storm_ui_bundles_rarelootchest_summerlootchest25pack.dds</File>
    <File>storm_ui_bundles_rarelootchest_summerlootchest52pack.dds</File>
    <File>storm_ui_bundles_rarelootchest_summerlootchest5pack.dds</File>
    <File>storm_ui_bundles_h44_technovandalchromieskinpack.dds</File>
    <File>storm_ui_bundles_rarelootchest_winter2019lootchest1pack.dds</File>
    <File>storm_ui_bundles_rarelootchest_winter2020lootchest1pack.dds</File>  
  </NonExistingImageFileNames>
</Configuration>